.alert-success {
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
}

.alert-danger {
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
}

.alert-warning {
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
}

.alert-info {
    color: #000 !important;
    font-weight: bold;
        font-size: 16px;
}

.alert-light {
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
}

select.form-select {
    padding: 5px !important;
    color: #000 !important;
    background-color: #fff !important;
}

select.form-control, select.typeahead, select.tt-query, select.tt-hint, .select2-container--default .select2-selection--single select.select2-search__field, .select2-container--default select.select2-selection--single, .jsgrid .jsgrid-table .jsgrid-filter-row select, .dataTables_wrapper select, select.asColorPicker-input  {
    color: #000 !important;
}

.navbar {
    background-color: #4eadd7 !important;
}