.alert-success {
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
}

.alert-danger {
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
}

.alert-warning {
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
}

.alert-info {
    color: #000 !important;
    font-weight: bold;
        font-size: 16px;
}

.alert-light {
    color: #000 !important;
    font-weight: bold;
    font-size: 16px;
}

select.form-select {
    padding: 5px !important;
    color: #000 !important;
    background-color: #fff !important;
}

select.form-control, select.typeahead, select.tt-query, select.tt-hint, .select2-container--default .select2-selection--single select.select2-search__field, .select2-container--default select.select2-selection--single, .jsgrid .jsgrid-table .jsgrid-filter-row select, .dataTables_wrapper select, select.asColorPicker-input  {
    color: #000 !important;
}

.navbar {
    background-color: #4eadd7 !important;
}

.btn-primary {
    color: #fff;
    background-color: #4eadd7 !important;
    border-color: #4eadd7 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3eadd7 !important;
    border-color: #3eadd7 !important;
}

.btn-primary:focus {
    color: #fff;
    box-shadow: 0 0 0 0.25rem rgba(98, 104, 232, 0.5);
}

.btn-primary:active {
    color: #fff;
    background-color: #3eadd7 !important;
    border-color: #3eadd7 !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary:disabled {
    color: #fff;
    background-color: #4eadd7 !important;
    border-color: #4eadd7 !important;
}

.pagination .page-item.active .page-link, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item.active .page-link, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a, .pagination .page-item:hover .page-link, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:hover .page-link, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:hover a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover a, .pagination .page-item:focus .page-link, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:focus .page-link, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:focus a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus a, .pagination .page-item:active .page-link, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:active .page-link, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:active a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active a, .jsgrid .jsgrid-pager .jsgrid-pager-page:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:active a {
    background: #4eadd7 !important;
    border-color: #4eadd7 !important;
    color: #ffffff;
}